div{
    display:flex;
    justify-content: space-between;
}

button{
    display:flex;
    justify-content: center;
    flex: 1, 1, auto;
    max-height: 300px;
    max-width: 300px;
    padding: 10px;
}

img{
    max-height: 300px;
    max-width: 300px;
}

h1{
    justify-content: center;
}

/*
#rock{

}
#paper{

}
#scissors{

}
*/